#nav-menu {
  position: relative;
  width: 100%;

}
  .bg-body{
    background-color: #e6f3a4;
  
    background-image: url("../img/700761 (1).webp") ;
    background-attachment: fixed;
    opacity: 80%;
    
   


}

nav a img {
  width: 35px; /* ajusta el ancho del icono según tus necesidades */
  height: 35px; /* ajusta la altura del icono según tus necesidades */
  padding-bottom: 25%;
  
  
}


.navbar-brand{
    color: #e6f3a4;
    
    align-self: auto;
    
}


input[type="submit"] {
    background-color: #008CBA;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    border: none;
  }

  /* Estilos para dispositivos móviles */
@media (max-width: 767px) {
  .container-fluid {
    display: flex;
    flex-direction: column;
    align-items: center;
  
  }
  
  .nav-item {
    margin: 10px 0;
  }
}

/* Estilos para tabletas y escritorios */
@media (min-width: 768px) {
  .navbar {
    justify-content: flex-start;
    
  }
  
  .nav-item {
    margin: 0 10px;
  }
}


  .container{
    align-content: center;
    background-color: #f2f2f2;
    width: 850px;
    
  }

  .table digimon {
    overflow-x: auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  @media (max-width: 600px) {
    th, td {
      display: block;
      width: 100%;
    }
    
    th {
      text-align: center;
    }
    
    td {
      border-bottom: 1px solid #ddd;
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {  /* Tabletas */
    th, td {
      display: table-cell;
      width: auto;
      background-color: #f2f2f2;
    }
  }
  /* Estilos adicionales para pantallas de escritorio */
@media (min-width: 992px) {
  th, td {
    display: table-cell;
    width: auto;
  }
}
  

  
    
  
  
 
